---
import Title from "../../../components/Title.astro";

---

<section class="we-works">
    <div class="container">
        <Title>Наши работы</Title>

        <div class="navbar">
            
            <ul class="menu">
                <li class="item">
                    <a href="" class="link">Показать все</a>
                </li>
                <li class="item">
                    <a href="" class="link">Парикмахерские услуги</a>
                </li>
                <li class="item">
                    <a href="" class="link">Маникюр</a>
                </li>
                <li class="item">
                   <a href="" class="link">Педикюр</a>
                </li>
            </ul>
            
        </div>

        <div class="galery">
            <div class="images">
                <img src="src/assets/images/work-9.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-1.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-7.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-6.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-5.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-4.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-3.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-2.jpg" alt="">
            </div>
            <div class="images">
                <img src="src/assets/images/work-9.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<style lang="scss">
    @import 'src/assets/styles/utils/var.scss';
    .we-works {
        Title {
            text-align: center;
            
        }

        .navbar {
            margin-top: 80px;
            margin-bottom: 55px;

            .menu {
                display: flex;
                justify-content: center;
                gap: 60px;

                .item {

                    .link{
                        font-size: 24px;
                        font-weight: 400;
                        font-family: $font;
                        border-bottom: 1px solid transparent;
                        transition: 0.5s;

                        &:hover {
                          border-bottom: 1px solid $brand;
                          color: $brand;
                          
                        }
                    }
                }
            }
        }

        .galery {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            margin-bottom: 100px;

            
        }

    }

</style>