---
import Title from "../../../components/Title.astro";

---

<section class="our-services">
    <div class="container">
        <Title>Цены на услуги</Title>
        <div class="wrapper">

            <!-- banner -->
            <div class="banner">
                <img src="src/assets/images/banner.img.jpg" alt="banner">
            </div>

            
            <!-- card -->
            <div class="card">
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
            </div>

            
            <!-- card -->
            <div class="card">
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
            </div>

            
            <!-- banner -->
            <div class="banner">
                <img src="src/assets/images/banner.img.jpg" alt="banner">
            </div>

            
            <!-- banner -->
            <div class="banner">
                <img src="src/assets/images/banner.img.jpg" alt="banner">
            </div>

             <!-- card -->
             <div class="card">
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
                
                <!-- Price -->
                <div class="left-right">
                    <div class="left">
                        <p class="text">Женская укладка</p>
                        <p>+ обработк кончинков волос</p>
                    </div>

                    <div class="right">
                        <p class="text">1 000 ₽ </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<style lang="scss">
    @import "../../../assets/styles/utils/var.scss";
    .our-services {
        min-height: 100vh;
        padding: 180px 0 100px;

        .container {
            .wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 112px;
                margin-top: 80px;

                .card {
                    
                    .left-right {
                        width: 526px;
                        padding-bottom: 20px;
                        margin-bottom: 40px;
                        border-bottom: 1px solid rgb(255, 255, 255,0.5) ;
                        display: flex;
                        justify-content: space-between;

                        .text {
                            font-family: $font;
                            font-size: 27px;
                            line-height: 35px;
                            font-weight: 700;
                        }

                        p {
                            font-weight: 400;
                            font-style: 18px;
                            margin-top: 10px;

                        }
                    }
                }
            }
        }
    }
</style>