---
import Title from "../../../components/Title.astro";

---

<section class="our-contacts">
    <div class="container">
        <Title>Контакты</Title>

        <div class="map">
            <img src="src/assets/images/map.jpg" alt="map">
        </div>

        <div class="wrapper">

            
            <!-- card -->
            <div class="card">
                <div class="title">Контакты</div>
                <p class="text">+7 (812) 123-45-67</p>
                <p class="text">+7 (911) 123-45-67</p>
                <p class="text">Новоостровский проспект, дом 36 лит. С</p>
            </div>


            <!-- card -->
            <div class="card">
                <div class="title">Режим работы</div>
                <p class="text">C 10:00 до 21:00 (Пн-Пт)</p>
                <p class="text">C 10:00 до 21:00 (Пн-Пт)</p>
                
            </div>


            <!-- card -->
            <div class="card">
                <div class="title">Контакты</div>
                <p class="text">+7 (812) 123-45-67</p>
                <p class="text">+7 (911) 123-45-67</p>
                <p class="text">Новоостровский проспект, дом 36 лит. С</p>
            </div>


            <!-- card -->
            <div class="card">
                <div class="title">Режим работы</div>
                <p class="text">C 10:00 до 21:00 (Пн-Пт)</p>
                <p class="text">C 10:00 до 21:00 (Пн-Пт)</p>
                
            </div>
        </div>
    </div>
</section>


<style lang="scss"> 
@import '../../../assets/styles/utils/var.scss';
    .our-contacts {
        min-height: 100vh;
        padding-top: 180px;

        .map {
            margin-top: 80px;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            margin: 80px 0 100px;

            .title {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 25px;
            }

            .text {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 15px;
                color: rgb(255, 255, 255,0.8);
            }
        }
    }
</style>